:root {
  --main-fonts: "Manrope", -apple-system, sans-serif;
  --accent-fonts: "Merienda", cursive, serif;
  // --main-text-color: #e76940;
  --main-text-color: #43ba9a;
  // --accent-color: #0086ff;
  --accent-color: #323cb6;
  --bg-color: #000307;

  --text-main-color: #43ba9a;

  //  --shop-color: #57e414;
  --shop-color: #ba82c7;
}
