:root {
  --main-fonts: "Manrope", -apple-system, sans-serif;
  --accent-fonts: "Merienda", cursive, serif;
  --main-text-color: #e76940;
  --accent-color: #0086ff;
  --bg-color: #000307;
  --text-main-color: #f8d7cc;
  --shop-color: #57e414;
}
